@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  font-family: 'Inter';
  color: #fff;
}

h1 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 400;
}

h2 {
  font-weight: 300;
}

.music-container {
  background: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 30px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  gap: 20px;
  height: 84px !important;
}

.img-container {
  width: 40px;
}

.img-container img {
  height: 40px;
  border-radius: 5px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 25vw;
}

.action-btn {
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  margin: 0 10px;
}

.action-btn:hover {
  color: #dfdbdf;
}

.action-btn:focus {
  outline: 0;
}

.action-btn-big {
  padding: 10px;
  color: #000;
  background: #fff;
  border-radius: 20px;
}

.action-btn-big:hover {
  transform: scale(1.1);
  color: #000;
}

.music-info {
  border-radius: 15px 15px 0 0;
  display: flex;
  width: 25vw;
  align-items: center !important;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
  gap: 20px;
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #575657;
  border-radius: 5px;
  cursor: pointer;
  height:6px;
  width: 100%;
}

.progress {
  background-color: #fff;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.progress:hover {
  background: #1cd96a;
}

@media screen and (max-width: 800px) {
  .progress-container {
    display: none;
  }
}

.playlist-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
}

.playlist-card {
  background-color: #1f2228;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  text-align: center;
}

.playlist-card:hover {
  transform: scale(1.05);
}

.playlist-card h3 {
  color: white;
  margin: 5px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-image {
  width: 120px;
  border-radius: 10px;
}

.main-content {
  margin: 15px;
  background: #16181c;
  border-radius: 15px;
  padding: 20px;
  width: 80%;
}

#queue-container {
  margin: 15px;
  margin-left: 0px;
  background: #16181c;
  border-radius: 15px;
  padding: 20px;
  width: 20%;
  list-style-type: none;
}

.main-container {
  display: flex;
}

#queue-container li {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  gap: 10px;
}

#queue-container img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}